<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div id="root"></div>
  <div id="c">hello</div>
  <script src="https://cdn.bootcdn.net/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>
</body>
<div>
  <!-- 

    htmlWebpackPlugin 支持的ejs 参数

    --  webpackConfig
    --  htmlWebpackPlugin
          -- tags 
          -- options
          -- files
   -->
  <% for (var key in webpackConfig) { %>
    <%= key %> : <%= JSON.stringify(webpackConfig[key]) %>
        <% } %>
</div>
<script>
  <% if (1 < 2) { %> console.log('================================') <% } %>
    
    

  <%= __WEBPACK__ENV %>
</script>

</html>